
.top_menu{ width:960px; height:70px; position:relative;}
.top_menu_left{ position:absolute; }
.top_menu_right{ position:absolute; right:0; }

.top_menu_left li,.top_menu_right li{ float:left; font-size:12px; margin-right:15px; }
.top_menu_left li{ border-right:#999 solid 1px; width:70px; }

.top_menu_left li a{ color:#333;   }
.top_menu_right span{ color:#F00; text-decoration:underline; font-size:12px; }
.top_menu_right li a{ color:#CCC;}
.top_menu_right li a:hover{ color:#000; }

#img_font{ font-size:12px; color:bbb; text-align:right; line-height:60px;  }
.history{ float:left; width:470px; height:50px; border-bottom:#333 solid 2px; 
		 margin-left:10px; font-size:18x; font-weight:bold;
		 line-height:50px; margin-bottom:30px; }
.history a{ color:#CCC; display:block; border-bottom:#CCC solid 2px; }
.history a:hover{ color:#333; border-bottom:#333 solid 2px; }

.history:first-child{ margin-left:0; }
section h1{ font-family:'Nanum Myeongjo', serif; font-weight:lighter; padding: 5px 0 40px 10px; 
			font-size:25px; }

/*table*/
table{ width:850px; border:none; border-spacing:0; margin-top:50px; }
th{ height:50px; border-bottom:#333 solid 1px; line-height:50px; 
	text-align:left; font-size:16px; }
td{ height:50px; line-height:50px; border-bottom:#ddd solid 1px; color:#666; font-size:13px; }

.img_p{ color:#666; font:13px; width:717px; }
.img_p p{ padding-top:10px; }

.fl_left{ float:left; }
.fl_right{ float:right; }

/*article end*/



