vti_encoding:SR|utf8-nl
vti_author:SR|john-PC\\john
vti_modifiedby:SR|john-PC\\john
vti_timelastmodified:TR|15 Mar 2017 13:41:07 -0000
vti_timecreated:TR|11 Mar 2017 02:22:49 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|kawngdong/index.html
vti_nexttolasttimemodified:TW|15 Mar 2017 13:40:25 -0000
vti_cacheddtm:TX|15 Mar 2017 13:41:07 -0000
vti_filesize:IR|1397
vti_cachedlinkinfo:VX|S|../img/btnnn.png
vti_cachedsvcrellinks:VX|FSUS|kawngdong/img/btnnn.png
